@model TodoApplication.Models.TodoNote

@{
    ViewData["Title"] = "Borrar";
}

<h1>Borar</h1>

<h3>Esta seguro de eliminar este registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.CategoryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TodoNoteID" />
        <button  class="btn btn-danger"><i class="fas fa-trash-restore"></i> Borrar</button>
        <a asp-action="Index" class="btn btn-warning"><i class="fa fa-fast-backward"></i> Regresar</a>
    </form>
</div>
