@model TodoApplication.Models.TodoNote

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorie.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorie.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.TodoNoteID"><i class="fas fa-sticky-note"></i> Editar</a>
    <a asp-action="Index" class="btn btn-success"><i class="fas fa-fast-backward"></i> Regressar</a>
</div>
